*{
    font-family: 'IBM Plex Mono', monospace;
    color:rgb(31, 32, 32);
    font-weight: bolder;
}
html ,body{
    margin:0;
    padding: 0;
    width:100%;
    height:100%;

  
    background-color: skyblue;
    
    display: block;
    box-sizing: border-box;
    
}
.cont{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
     width: 50%;
     height:344px;
    margin: auto;
    grid-gap:.1rem;
    margin-bottom: 2%;
}
.box{
    background-color:peru;
    height:95%;
    width:95%;
    border:5px solid peachpuff;
}
.boxclick{
    background-color: red;
}
.count{
    display: flex;
    align-items: center;
    justify-content:center;
    margin-top:5%;
    flex-wrap:wrap;
}
.main1, .main2{
   margin:5px 20px;
    
}
span{
    margin-left: 60px;
}
.main1>div , .main2>div{
    border-bottom: 2px dashed black;
}